
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100;0,400;0,900;1,800&family=Libre+Baskerville&family=Raleway:ital,wght@0,300;0,900;1,500&family=Rubik+Pixels&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;
.log{
    background: linear-gradient(to right, rgba(31, 32, 35, 0.5), rgba(56, 53, 53, 0.895)),
   url('./images/walk.jpg');
    background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  scroll-behavior: smooth !important;
  background-attachment: fixed;
  height:100vh;
}
.log2{
  background-image: url(./images/work.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  scroll-behavior: smooth !important;
  background-attachment: fixed;
  height:100vh;
}
.log1but{
    background-color: rgb(77, 205, 162);
}
.log2but{
  background-color: rgb(88, 134, 250);
  z-index: 2;
}
.log3but{
  background-color: rgb(144, 185, 243);
}
input::placeholder {
    color: rgb(35, 42, 39);
    opacity: 1;
}
.text1{
  transform: translateY(-11px);
}
.googimg{
  width: 1.5rem;
}

.trav{
  background: linear-gradient(to right, rgba(28, 29, 30, 0.5), rgba(56, 53, 53, 0.895)),
   url('./images/travel.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  scroll-behavior: smooth !important;
  background-attachment: fixed;
  height:80vh;
}
.infor{
  transform: translateY(-10rem);
}
.divback{
  transform: translate(9rem,-24rem);
  z-index: inherit;
}
.map{
  height: auto;
  width: 90%;
  background-image: url(./images/map.jpg);
  /* background-color: aqua; */
  background-size: cover;
   background-repeat: no-repeat; 
  background-position: center;
  
}
.wantravel{
  color: rgb(77, 205, 162);
}
.about{
  background: linear-gradient(to right, rgba(28, 29, 30, 0.5), rgba(56, 53, 53, 0.895)),
   url('./images/groupWork.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  scroll-behavior: smooth !important;
  background-attachment: fixed;
  height:100vh;
}
.home{
  background-image: url(./images/land.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  scroll-behavior: smooth !important;
  background-attachment: fixed;
  height:100vh;
}
.burger{
  display: none;
}

  @media screen and (max-width:500px) {
    .items{
      display:none;
    }
    .burger{
      display: block;
    }
    .home2{
      display: flex;
      justify-content: center;
    }
    .editors{
      display: flex;
      flex-direction: column;
    }
    textarea{
      width: 24rem;
    }
  }
  @media screen and (min-width:500px){
      .media{
        display :none;
      }
  }
  .homtext{
    /* color: rgb(52, 152, 119); */
  }
  .hombut{
    background-color: rgb(77, 205, 162);
  }
  .Web{
    background-image: url(./images/webback.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  scroll-behavior: smooth !important;
  background-attachment: fixed;
  height:100vh;
  }
  .na3{
    background-color: rgb(53, 154, 120);
  }
  .na4{
    background-color: rgb(142, 53, 154);
  }
